/* ======= COMMON STYLES ======== */

button {
    cursor: pointer;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
}

.list {
    list-style-type: none;
}

.link {
    text-decoration: none;
}

.accent-color {
    color: #E7E9FC;
}

.section-title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* ======= /COMMON STYLES ======== */

/* ======= HEADER MOBILE STYLES ======== */

.menu {
    display: none;
}

.contacts-address {
    display: none;
}

.page-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logotyp {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    margin-right: 76px;
    padding: 17px 0;
    display: block;
}

.logotyp-span {
    color: #2E2F42;
}

/* ======== MOBILE MENU STYLES ======= */

.mobile-open-btn {
    border: none;
    background-color: transparent;
    padding: 0;
    line-height: 0;
}

.mobile-open-btn-icon {
    fill: #2F2F37;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-open-btn-icon:hover {
    fill: #404BBF;
}

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999999999;
    background-color: #FFF;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    transform: translateX(0%);
}

.mobile-menu-container {
    position: relative;
}
.mobile-menu-close-btn-icon {
    fill: #2E2F42;
    width: 8px;
    height: 8px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-right: 8px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    height: 24px;
    width: 24px;
    background: transparent;
    padding: 0px;
    line-height: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close-btn:hover {
    background-color: #404BBF;
}

.mobile-menu-close-btn-icon:hover {
    fill: #FFFFFF;
}

.mobil-menu-nav {
    display: flex;
    flex-direction: column;
    padding-top: 72px;
    margin-bottom: 168px;
    gap: 40px;
}

.mobile-menu-contacts-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.mobile-menu-contacts {
    font-style: normal;
}

.social-list-mobile-menu {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-top: 48px;
}

.mobil-menu-nav-link {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobil-menu-nav-link:hover {
    color: #404BBF;
}

.mobile-menu-contacts-link {
    color: #434455;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.mobile-menu-contacts-link:hover {
    color: #404BBF;
}

.social-list-mobile-menu-item {
    width: 40px;
    height: 40px;
}

.social-list-link-mobile-menu { 
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4D5AE5;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-icon-mobile-menu {
    fill: #f4f4fd;
}

.social-list-link-mobile-menu:hover {
    background-color: #2E2F42;
}
/* ======= /MOBILE MENU STYLES ========= */
/* ======= /HEADER MOBILE STYLES ======== */


/* ======= HERO MOBILE STYLES ======== */
.hero {
    padding-top: 72px;
    padding-bottom: 72px;
    margin: 0 auto;
    background-color: #2E2F42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.70),rgba(46, 47, 66, 0.70)),
    url(../images/retina/mobile-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 100%;
}

@media screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx),
screen and (min-device-pixel-ration: 2) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)),
            url(../images/retina/mobile-bg@2x.jpg);
    }
}

.main-title {
    margin-left: auto;
    margin-right: auto;
    max-width: 173px;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
}

.order-service-btn {
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 72px;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4D5AE5;
    color: #FFFFFF;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-service-btn:hover,
.order-service-btn:focus {
    background-color: #404BBF;
    color: #FFFFFF;
}

.order-service-span {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    display: inline-flex;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;

}


/* ======= /HERO MOBILE STYLES ======== */

/* ======= BENEFITS MOBILE STYLES ======== */
.benefits-images {
    display: none;
}

.benefits {
    background: #FFFFFF;
    padding: 103px 0 96px;
}

.benefits-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.benefits-list-titel {
    text-align: center;
    margin-bottom: 8px;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.benefits-list-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/* ======= /BENEFITS MOBILE STYLES ======== */

/* ======= TEAM MOBILE STYLES ======== */
.team {
    background-color: #F4F4FD;
    padding: 96px 0;
    flex-shrink: 0;
}

.team-title {
    margin-bottom: 72px;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}

.team-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
}

.team-list-item {
    background-color: #FFFFFF;
    flex-direction: row;
    width: 264px;
    padding-bottom: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-list-title-position {
    padding-top: 32px;
    padding-bottom: 32px;
    margin-left: auto;
    margin-right: auto;
}

.team-list-title {
    text-align: center;
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.team-list-descriptio {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.social-list-item {
    width: 40px;
    height: 40px;
}

.social-list-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4D5AE5;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-icon {
    fill: #F4F4FD;
}

.social-list-link:hover,
.social-list-link:focus {
    background-color: #404BBF;
}
/* ======= /TEAM MOBILE STYLES ======== */
/* ======= PORTFOLIO MOBILE STYLES ======== */
.overlay {
    display: none;
}

.main-portfolio {
    padding-top: 96px;
    padding-bottom: 96px;
}

.section-title {
    margin-bottom: 72px;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.portfoli-list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 48px;
}

.portfoli-list-item {
    padding-bottom: 0px;
    background: var(--WHITE, #FFF);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfoli-list-item-name {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfoli-list-title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 8px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.portfoli-list-description {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* ======= /PORTFOLIO MOBILE STYLES ======== */

/* ======= FOOTER MOBILE STYLES ======== */
.page-footer {
    background-color: #2E2F42;
    padding-top: 96px;
    padding-bottom: 96px;
}

.logo-text-footer {
    margin-bottom: 72px;
    text-align: center;
}

.logotyp-footer {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    display: block;
    margin-bottom: 16px;
}

.logotyp-footer-span {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;
}

.footer-text {
    text-align: left;
    max-width: 264px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}

.social-media-text {
    margin-bottom: 16px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.social-media {
    margin-bottom: 72px;
}

.social-list-footer {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.social-list-item {
    width: 40px;
    height: 40px;
}


.social-list-link-footer {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4D5AE5;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-icon {
    fill: #f4f4fd;
}

.social-list-link-footer:hover,
.social-list-link-footer:focus {
    background-color: #31D0AA;
}

.subscribe-form-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.subscribe-form-text {
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.subscribe-form {
    display: block;
}

.subscribe-form-input {
    width: 100%;
    height: 40px;
    padding-left: 16px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 4px;
    border: 1px solid #FFFFFF;
    outline-offset: 2px;
    outline: transparent;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    background-color: transparent;
    color: #FFFFFF;
}

.subscribe-form-input::placeholder {
    color: #FFFFFF;
}

.subscribe-btn {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    padding: 8px 24px;
    min-width: 165px;
    justify-content: center;
    align-items: center;
    font-style: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background: #4D5AE5;
    color: #FFFFFF;
}

.subscribe-btn-icon {
    margin-left: 16px;
    fill: #FFFFFF;
}
/* ======= /FOOTER MOBILE STYLES ======== */

/* ======= BACKDROP MOBILE STYLES ======== */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999999;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.40);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
/* ======= /BACKDROP MOBILE STYLES ======== */

/* ======== MODAL WINDOW STYLES MOBILE ========= */
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 288px;
    min-height: 623px;
    background-color: #FCFCFC;
    border-radius: 4px;
    padding: 72px 16px 24px 16px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn-icon {
    fill: #2E2F42;
    width: 8px;
    height: 8px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 24px;
    right: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    height: 24px;
    width: 24px;
    background: #E7E9FC;
    padding: 0px;
    line-height: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover .modal-close-btn-icon,
.modal-close-btn:focus .modal-close-btn-icon {
    fill: #FFFFFF;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: #404BBF;
    border: none;
}
/* ======== /MODAL WINDOW STYLES MOBILE ========= */

/* ======== REVIEW FORM MOBILE ========= */
.review-form-description {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-align: center;
    margin-bottom: 16px;
}

.review-form-field-label {
    display: block;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
    margin-bottom: 4px;
}

.review-form-field-wrapper {
    margin-bottom: 8px;
}

.review-form-comment-wrapper {
    margin-bottom: 16px;
}

.review-form-input-wrapper {
    position: relative;
}

.review-form-field {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    padding-left: 38px;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-field-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-massage {
    width: 100%;
    height: 120px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    resize: none;
    padding: 8px 16px;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: rgba(46, 47, 66, 0.40);
}

.review-form-massage::placeholder {
    color: rgba(46, 47, 66, 0.40);
}

.review-form-checkbox-wrapper {
    margin-bottom: 24px;
}

.review-form-checkbox-label {
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
}

.privacy-policy-link {
    padding-left: 25px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: #4D5AE5;
}

.review-form-own-checkbox {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    cursor: pointer;
    fill: transparent;
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-checkbox:checked+
.review-form-checkbox-label 
.review-form-own-checkbox {
    border: none;
    background-color: #404BBF;
    fill: #F4F4FD;
}

.review-form-btn {
    display: block;
    min-width: 169px;
    text-align: center;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 16px 32px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #FFFFFF;
    background: #4D5AE5;
}

.review-form-btn:hover {
    background-color: #404BBF;
    color: #FFFFFF;
}
/* ======== /REVIEW FORM MOBILE ========= */


@media screen and (max-width: 767px) {
    
    .mobile-open-btn {
        border: none;
        background-color: transparent;
        padding: 0;
        line-height: 0;
    }

    .mobile-open-btn-icon {
        fill: #2F2F37;
    }

    .mobile-menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 9999999999;
        background-color: #FFF;
        transform: translateX(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .mobile-menu.is-open {
        transform: translateX(0%);
    }

    .mobile-menu-container {
        position: relative;
    }

    .mobile-menu-close-btn-icon {
        fill: #2E2F42;
        width: 8px;
        height: 8px;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .mobile-menu-close-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 24px;
        right: 8px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        height: 24px;
        width: 24px;
        background: transparent;
        padding: 0px;
        line-height: 0;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .mobile-menu-close-btn:hover {
        background-color: #404BBF;
    }

    .mobile-menu-close-btn-icon:hover {
        fill: #FFFFFF;
    }

    .mobil-menu-nav {
        display: flex;
        flex-direction: column;
        padding-top: 72px;
        margin-bottom: 168px;
        gap: 40px;
    }

    .mobile-menu-contacts-list {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .mobile-menu-contacts {
        font-style: normal;
    }

    .social-list-mobile-menu {
        display: flex;
        flex-direction: row;
        gap: 40px;
        margin-top: 48px;
    }

    .mobil-menu-nav-link {
        color: #2E2F42;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.1;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .mobil-menu-nav-link:hover {
        color: #404BBF;
    }

    .mobile-menu-contacts-link {
        color: #434455;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    }

    .mobile-menu-contacts-link:hover {
        color: #404BBF;
    }

    .social-list-mobile-menu-item {
        width: 40px;
        height: 40px;
    }

    .social-list-link-mobile-menu {
        display: flex;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: #4D5AE5;
        justify-content: center;
        align-items: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .social-list-icon-mobile-menu {
        fill: #f4f4fd;
    }

    .social-list-link-mobile-menu:hover {
        background-color: #2E2F42;
    }
}


@media screen and (min-width: 480px) {
   .container {
        width: 318px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 766px;
    }

    /* ======= HEADER TABLET STYLES ======== */

    .logotyp {
        display: flex;
    }

    .menu {
        display: flex;
        flex-direction: row;
        gap: 40px;
    }

    .menu-link {
        display: block;
        padding: 24px 0;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2E2F42;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
    }
    
    .menu-link:hover,
    .menu-link:focus {
        color: #404BBF;
    }

    .contacts-address {
        display: flex;
        font-style: normal;
    }

    .contacts-list{
        display: flex;
        flex-direction: column;
        gap: 12px;
    }


    .contacts-link {
        font-size: 12px;
        font-weight: 400;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
    }

    .contacts-link:hover,
    .contacts-link:focus {
    color: #404BBF;
    }

    .mobile-open-btn {
        display: none;
    }

    .page-navigation {
        display: flex;
        align-items: center;
    }
    
    .current {
        position: relative;
        color: #404BBF;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .current::after {
        position: absolute;
        content: '';
        left: 0;
        bottom: -1px;
        display: block;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: #404BBF;
    }

    /* ======= /HEADER TABLET STYLES ======== */

    /* ======= HERO TABLET STYLES ======== */

    .hero {
        padding-top: 112px;
        padding-bottom: 112px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)),
            url(../images/retina/tablet-bg.jpg);
    }

    @media screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx),
    screen and (min-device-pixel-ration: 2) {
        .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)),
            url(../images/retina/tablet-bg@2x.jpg);
        }
    }

    .main-title {
        max-width: 496px;
        font-size: 56px;
        line-height: 1.07;
    }

    .order-service-btn {
        margin-top: 36px;
    }

    /* ======= /HERO TABLET STYLES ======== */
    /* ======= BENEFITS TABLET STYLES ======== */

    .benefits {
        background: #FFFFFF;
        padding: 96px 0;
    }

    .benefits-list{
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
    }

    .benefits-list-item {
        width: calc((100% - 24px) / 2);
    }

    .benefits-list-titel {
        text-align: left;
    }


    /* ======= /BENEFITS TABLET STYLES ======== */

    /* ======= TEAM TABLET STYLES ======== */

    .team-list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        /* padding: 92px; */
        gap: 64px 24px;
    }

    .team-list-item {
        /* width: calc((100% - 24px) / 2); */
       width: 264px;


    }
    /* ======= /TEAM TABLET STYLES ======== */

    /* ======= PORTFOLIO TABLET STYLES ======== */

        .portfoli-list {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 72px 24px;
        }

        .portfoli-list-item {
            width: calc((100% - 24px) / 2);
        }

    /* ======= /PORTFOLIO TABLET STYLES ======== */

    /* ======= FOOTER TABLET STYLES ======== */
   
    .container-footer {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        gap: 24px;
        row-gap: 72px;
        padding-left: 108px;
    }

    .logo-text-footer {
        margin: 0;
        text-align: left;
        max-width: 264px;
    }

    .social-media {
        margin: 0;
    }

    .subscribe-form {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 24px;
    }

    .subscribe-btn {
        margin-top: 0;
    }

    .subscribe-form-text {
        margin: 0;
    }

    .subscribe-form-input {
        width: 264px;
    }
    
    /* ======= /FOOTER TABLET STYLES ======== */

    /* ======== MODAL WINDOW STYLES TABLET========= */
    .modal {
        width: 408px;
        min-height: 584px;
        padding-left: 23px;
        padding-right: 25px;
    }

    .review-form-checkbox-label {
        display: inline;
    }

    .privacy-policy-link{
       padding-left: 0;
    }
    /* ======== /MODAL WINDOW STYLES TABLET========= */
}

@media screen and (min-width: 1158px) {
    .container {
        width: 1158px;
    }
    /* ======= HEADER DESKTOP STYLES ======== */
        .hero {
            padding-top: 188px;
            padding-bottom: 188px;
            max-width: 1440px;
            background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)),
                url(../images/retina/desktop-bg.jpg);
        }
    
        @media screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx),
        screen and (min-device-pixel-ration: 2) {
            .hero {
                background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)),
                    url(../images/retina/desktop-bg@2x.jpg);
            }
        }
    .contacts-list {
        display: flex;
        flex-direction: row;
        gap: 40px;
    }

    .contacts-link {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }

    /* ======= /HEADER DESKTOP STYLES ======== */

    /* ======= BENEFITS DESKTOP STYLES ======== */
    .benefits {
        padding: 120px 0;
    }

    .benefits-list {
        flex-wrap: nowrap;
        gap: 24px;
    }

    .benefits-list-titel {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        padding-top: 0px;
    }

    .benefits-list-text {
        font-weight: 400;
    }

    .benefits-list-item {
        width: calc((100% - 72px) / 4);
    }

    .benefits-images {
        display: flex;
        justify-content: space-between;
    }
    
    .benefits-images-box {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 264px;
        height: 112px;
        border-radius: 4px;
        border: 1px solid #8E8F99;
        background: #F4F4FD;
        margin-bottom: 8px;
        gap: 24px;
    }
    /* ======= /BENEFITS DESKTOP STYLES ======== */

    /* ======= TEAM DESKTOP STYLES ======== */
    .team-list {
        justify-content: center;
        gap: 24px;
        padding: 0;
    }

    .team-list-item {
        width: calc((100% - 72px) / 4);
    }
    /* ======= /TEAM DESKTOP STYLES ======== */

    /* ======= PORTFOLIO DESKTOP STYLES ======== */

    .main-portfolio {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .overlay {
        display: flex;
    }

    .portfoli-list-item {
        width: calc((100% - 48px) / 3);
    }

    .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #4D5AE5;
            overflow: auto;
            transform: translateY(100%);
            transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
            color: #F4F4FD;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.5;
            letter-spacing: 0.02em;
            padding: 40px 32px;
    }
    
    .overlay-wrapper {
            position: relative;
            overflow: hidden;
    }
    
    
    .portfoli-list-item:hover .overlay {
            transform: translateY(0%);
    
    }
    
    .portfoli-list-item:hover {
            box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    }
    /* ======= /PORTFOLIO DESKTOP STYLES ======== */
    
    /* ======= FOOTER DESKTOP STYLES ======== */
    .page-footer {
        padding-top: 100px;
        padding-bottom: 100px;
    }
        
    .container-footer {
        flex-wrap: nowrap;
        padding-left: 0;
        gap: 0;
    }       
        
    .logo-text-footer {
        margin-right: 120px;
    }
    
    .social-media {
        margin-right: 80px;
    }

    .social-media-text {
        text-align: left;
    }
    /* ======= /FOOTER DESKTOP STYLES ======== */

    /* ======== MODAL WINDOW STYLES DESKTOP========= */
        .modal {
            padding-left: 24px;
            padding-right: 24px;
        }
    /* ====== /MODAL WINDOW STYLES DESKTOP ======== */

        /* ======== REVIEW FORM DESKTOP STYLES ========= */
        .review-form-field:focus {
            border-color: #4D5AE5;
            outline-color: transparent;
            outline-offset: 3px;
        }

        .review-form-field:focus+.review-form-field-icon {
            fill: #4D5AE5;
        }

        .review-form-massage:focus {
            border-color: #4D5AE5;
            outline-color: transparent;
            outline-offset: 2px;
        }

        .review-form-checkbox:focus+
        .review-form-checkbox-label 
        .review-form-own-checkbox {
            outline: 2px solid rgba(46, 47, 66, 0.40);
        }

        .review-form-btn:focus {
            background-color: #404BBF;
            color: #FFFFFF;
        }
        /* ======== /REVIEW FORM DESKTOP STYLES ========= */
    

}


